.clear
{
	clear : both;
}

* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
body{
  background-color: purple;
}
.container{
  margin: 200px;

}
#sonuc{
  width: 150px;
  margin-top: 50px;
}
